form action="/post-login" method="post"
    input type="text" name="username" placeholder="Användarnamn"
    input type="password" name="pwd" placeholder="Lösenord"
    input type="submit" value="Logga in!"